.App {
  background-color: #fcf8f3;
  max-width: 960px;
  margin: 0 auto;
}
.App-header {
  margin: 0 auto;
}

.App-logo {
  max-width: 350px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 0 auto;
}
